.latestArticles{
    background: var(--veryLightGray);
    padding: 5em 0;

    .title-h1{
        text-align: center;
    }

    &-grid{
        display: grid;
        grid-row-gap: 2em;
    }
    &-item{
        border-radius: .5em;
        overflow: hidden;
        background: var(--white);

        img{
            width: 100%;
            object-fit: cover;
        }

        &-content{
            padding: 1.8em;
        }

        small{
            color: var(--grayBlue);
            margin-bottom: 1em;
            display: block;
        }

        .copy{
            color:var(--grayBlue);
        }
    
    }
}