.why{
    text-align: center;
    background: var(--lightGrayBlue);
    padding-top: 5em;
    .copy{
        margin-bottom: 4em;
    }
    &-item{
        .copy{
            margin-bottom: 2em;
        }
        img{
            margin-bottom: 1.5em;
        }
    }
    
}