.header {
  padding: 1em 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  z-index: 3;
  width: 100%;
  background: white;
}

.header-logo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header .button {
  display: none;
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 1024px) {
  .header .button {
    display: inline;
  }
  .header-content {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.hero {
  text-align: center;
  padding-bottom: 5em;
  background: var(--veryLightGray);
}

.hero-image {
  height: 300px;
  margin: 0 calc(-1 * var(--wrapperSpace));
  margin-bottom: 1.2em;
  background: url("../../static/img/image-mockups.png") center bottom no-repeat, url("../../static/img/bg-intro-mobile.svg") center no-repeat;
  background-size: 345px, cover;
  margin-bottom: 1.2em;
}

.hero .copy {
  margin-bottom: 2.5em;
}

.hero-imageSrc {
  display: none;
}

@media screen and (min-width: 768px) {
  .hero {
    text-align: left;
    background: url("../../static/img/bg-intro-desktop.svg") left 650px top -290px no-repeat;
    background-size: cover;
    min-height: 550px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .hero-content {
    position: relative;
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 550px;
        grid-template-areas: "description image";
    -ms-grid-columns: 370px 1fr;
        grid-template-columns: 370px 1fr;
  }
  .hero-image {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: image;
    min-width: inherit;
    position: absolute;
    width: 500px;
    left: 0;
    top: 0;
    height: 768px;
    background: url("../../static/img/image-mockups.png") left bottom no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1024px) {
  .hero-imageSrc {
    display: block;
    position: relative;
    top: -150px;
    z-index: 1;
  }
  .hero-image {
    background: none;
    left: 150px;
    right: 0;
    top: 0;
  }
}

.menu {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-button {
  width: 40px;
  height: 40px;
  background: url("../../static/img/icon-hamburger.svg") no-repeat center;
}

.menu a {
  text-decoration: none;
  color: var(--grayBlue);
  padding: 0 .8em;
}

.menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-checkbox {
  display: none;
}

.menu-checkbox:checked ~ .menu-button {
  background: url("../../static/img/icon-close.svg") no-repeat center;
}

.menu-checkbox:checked ~ .menu {
  display: block;
  position: absolute;
  top: 100%;
  padding: 1em;
  left: 0;
  right: 0;
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(var(--darkBlue)), color-stop(90%, transparent));
  background: linear-gradient(to bottom, var(--darkBlue) 0%, transparent 90%);
}

.menu-checkbox:checked ~ .menu .menu-item:first-of-type a {
  padding-top: 2em;
  border-radius: .5em .5em 0 0;
}

.menu-checkbox:checked ~ .menu .menu-item:last-of-type a {
  padding-bottom: 2em;
  border-radius: 0 0 .5em .5em;
}

.menu-checkbox:checked ~ .menu a {
  background: white;
  padding: .8em 1em;
  color: var(--darkBlue);
  font-size: 1.1em;
  display: block;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media screen and (min-width: 1024px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu-button {
    display: none;
  }
}

.why {
  text-align: center;
  background: var(--lightGrayBlue);
  padding: 5em 0;
}

.why .copy {
  margin-bottom: 4em;
  font-size: 1em;
}

.why-item .copy {
  margin-bottom: 2em;
}

.why-item img {
  margin-bottom: 1.5em;
}

@media screen and (min-width: 768px) {
  .why {
    text-align: left;
  }
  .why-grid {
    display: -ms-grid;
    display: grid;
    grid-column-gap: 1em;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .why-grid {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

.latestArticles {
  background: var(--veryLightGray);
  padding: 5em 0;
}

.latestArticles .title-h1 {
  text-align: center;
  margin-bottom: 1em;
}

.latestArticles-grid {
  display: -ms-grid;
  display: grid;
  grid-row-gap: 2em;
}

.latestArticles-item {
  border-radius: .5em;
  overflow: hidden;
  background: var(--white);
}

.latestArticles-item img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.latestArticles-item-content {
  padding: 1.8em;
}

.latestArticles-item small {
  color: var(--grayBlue);
  margin-bottom: 1em;
  display: block;
}

.latestArticles-item .copy {
  color: var(--grayBlue);
}

@media screen and (min-width: 768px) {
  .latestArticles .title-h1 {
    text-align: left;
  }
  .latestArticles-item-content {
    padding: 1em;
  }
  .latestArticles-grid {
    display: -ms-grid;
    display: grid;
    grid-column-gap: 30px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .latestArticles-grid {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

.footer {
  background: var(--darkBlue);
  color: var(--white);
  padding: 2em 0;
  text-align: center;
}

.footer-logo {
  display: block;
  margin: auto;
  margin-bottom: 2em;
}

.footer-social {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (25px)[5];
      grid-template-columns: repeat(5, 25px);
  grid-column-gap: 1em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2.5em 0;
}

.footer-link {
  display: block;
  color: var(--lightGrayBlue);
  text-decoration: none;
  margin-bottom: 2em;
}

.footer-copyright {
  color: var(--grayBlue);
  margin-top: 2em;
}

@media screen and (min-width: 1024px) {
  .footer .wrapper {
    display: -ms-grid;
    display: grid;
    grid-column-gap: 7em;
    -ms-grid-columns: 200px 1fr 400px;
        grid-template-columns: 200px 1fr 400px;
        grid-template-areas: "logo links button" "social links copyright";
  }
  .footer-links {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    grid-area: links;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    justify-items: start;
  }
  .footer-logo {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: logo;
    margin: initial;
  }
  .footer-social {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: social;
  }
  .footer-button {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: button;
    text-align: right;
  }
  .footer-copyright {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: copyright;
    text-align: right;
  }
}

:root {
  --darkBlue: hsl(233, 26%, 24%);
  --limeGreen: hsl(136, 65%, 51%);
  --brightCyan: hsl(192, 70%, 51%);
  --grayBlue: hsl(233, 8%, 62%);
  --lightGrayBlue: hsl(220, 16%, 96%);
  --veryLightGray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  font-size: 16px;
  --wrapperSpace: 1.5em;
}

body {
  font-family: 'Public Sans', sans-serif;
  margin: 0;
  color: var(--grayBlue);
  /* overflow: hidden; */
}

.wrapper {
  padding: 0 var(--wrapperSpace);
  max-width: calc(1115px + 1.5em);
  margin: auto;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.title-h1 {
  font-size: 2.5em;
  color: var(--darkBlue);
  font-weight: 300;
  line-height: 1.3;
  margin: 0;
  margin-bottom: .5em;
}

.title-h2 {
  font-size: 2.5em;
  color: var(--darkBlue);
  font-weight: 300;
  line-height: 1.3;
  margin: 0;
  margin-bottom: .5em;
  font-size: 1.5em;
}

.title-h3 {
  font-size: 2.5em;
  color: var(--darkBlue);
  font-weight: 300;
  line-height: 1.3;
  margin: 0;
  margin-bottom: .5em;
  font-size: 1em;
}

.copy {
  line-height: 1.7;
  font-size: .9em;
}

.button {
  border: none;
  padding: .9em 2.2em;
  font-size: 1em;
  border-radius: 1.5em;
  color: var(--white);
  background-image: -webkit-gradient(linear, left top, right top, from(var(--limeGreen)), to(var(--brightCyan)));
  background-image: linear-gradient(to right, var(--limeGreen) 0%, var(--brightCyan) 100%);
}

.icon-facebook {
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-image: url(../../static/img/icon-facebook.svg);
}

.icon-youtube {
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-image: url(../../static/img/icon-youtube.svg);
}

.icon-twitter {
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-image: url(../../static/img/icon-pinterest.svg);
}

.icon-pinterest {
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-image: url(../../static/img/icon-twitter.svg);
}

.icon-instagram {
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-image: url(../../static/img/icon-instagram.svg);
}
/*# sourceMappingURL=estilos.css.map */